/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato-v17-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/lato-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/lato-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/lato-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/lato-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/lato-v17-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
  }
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/lato-v17-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Lato Bold'), local('Lato-Bold'),
         url('../fonts/lato-v17-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/lato-v17-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/lato-v17-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/lato-v17-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/lato-v17-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
  }
  /* lato-900 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/lato-v17-latin-900.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/lato-v17-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/lato-v17-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/lato-v17-latin-900.woff') format('woff'), /* Modern Browsers */
         url('../fonts/lato-v17-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/lato-v17-latin-900.svg#Lato') format('svg'); /* Legacy iOS */
  }

  html{
      box-sizing: border-box;
  }
  *, *::before, *::after{
      box-sizing: inherit;
  }

  body{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/lato-v17-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Lato Bold'), local('Lato-Bold'),
         url('../fonts/lato-v17-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/lato-v17-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/lato-v17-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/lato-v17-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/lato-v17-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
  
    /*   background-image: url(/img/bglogo.png);
      
      background-repeat: no-repeat;
      background-size: contain; */
      background: url(/img/bglogo.png) 0 0/100% auto no-repeat ;
      
    
  }
  
  .wraper{
      margin: 0 89px;
      
      
  }
  header{
    margin: 56px 100px 0 102px;
    max-width: 100%;
   
  }
  .nav{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      &__logo{
         width: 82px;
      }
      ul{
          display: block;
          display: flex;
          flex-direction: row;
          justify-content: end;
          
          li{
            padding-top: 6px;
            padding-bottom: 1px;
            padding-left: 82px;
            
          }
          a{
              text-decoration: none;
              color: white;
              &:hover{
                color: rgb(141, 136, 136);
                text-shadow: 0 0 2px grey;
                transition-duration: 1s;
              }
          }

      }
      
  }
  .wraper__content{
      margin-top: 176px;
      margin-left: 102px;
      margin-bottom: 54px;
      color: white;
      h1{
        font-family: Lato;
        font-size: 50px;
        font-style: normal;
        font-weight: 500;
        line-height: 60px;
        letter-spacing: 0px;
        text-align: left;
        
        padding-bottom: 22px;
        width:619px;
        
        
      }
      p{
        
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: left;
        padding-bottom: 59px;
        width:546px;
        height :72px;
      }
  }
  .wraper__serch{
      margin-left: 102px;
      margin-bottom: 149px;
      form{
        display: flex;
        flex-direction: row; 
        justify-content: start;;
        input{
          padding: 4px 0 25px 44px;
          width: 297px;
          height: 49px;
          background: none;
          color: white;
          border: 0;
          border-bottom:  2px solid #BFC0C5;
          &::-webkit-input-placeholder{
            font-family: Lato;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            color: #FFFFFF


          }
          
        }
        .wraper__serch__input {
          position: relative;
            padding-right: 60px;
            img{
              position: absolute;
              left: 0;
              top: 0;
            }
        }
        .wraper__serch__button {
            font-family: Lato;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            color: white;
            background: #1B7DFF;
            padding: 15px 39px;
            &:hover{
              background: blue;
              color:black;
              transition-duration: 1s;
            }


color: #FFFFFF;
           
        }
      } 
    }
    .wraper__info{
      z-index: 1;
      background-color: #fff;
      box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
      margin-bottom: 130px;
      
      span{
        display: block;
        padding-left: 99px;
        padding-top: 93px;
        padding-bottom: 120px;
        font-family: Lato;
        font-style: normal;
        font-weight: 500;
        font-size: 35px;
        line-height: 42px;
      }
      .wraper__info__learnBox{
        display: flex;
        flex-wrap: nowrap;;
        justify-content: left;
        margin: 0 100px;
      }
      .wraper__info__learnBox__boxContent{
        color: black;
        display: flex;
        flex-direction: column;

        

        img{
          width: 66px;
          margin-bottom: 37px;
        }
        h2{
          font-family: Lato;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 24px;
          margin-bottom: 26px;
        }
        p{
          font-family: Lato;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
          max-width: 317px;
          margin-bottom: 39px;
        }
        .wraper__info__learnBox__boxContent_btm{
          a{
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #006DFE;
            display: flex;
            margin-right: 26px;
            text-transform: uppercase;
            img{
            
            width: 33px;
            margin-left: 26px;
            
            }
          }
        }
      }
    }
    .leftBox{
      margin:  0 55px 112px 100px;
    }
    .centerBox{
      margin: 0 55px 112px 0;
    }
    .rightBox{
      margin: 0 100px 112px 0;
    }
    
    .wraper__galery{
     /*  width: 87.7%;
      height: 51.04%; */
      .wraper__galery__button{
        font-family: Lato;
        font-style: normal;
        font-weight: 500;
        font-size: 35px;
        line-height: 42px;
        color: #102746;
        margin-bottom: 26px;
        p{
         display: block;
        }
       a{
         display: block;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        text-align: right;
        color: #006DFE;
        text-decoration: none;
        img{
          padding-left: 26px;
        }
       }
      }

      .wraper__galery__image{
        display: flex;
        flex-direction:column;
        
        span{
          font-family: Lato;
          font-style: normal;
          font-weight: bold;
          font-size: 50px;
          line-height: 60px;
          color: #FFFFFF;
          position: absolute;
          bottom: 27px;
          left: 29px;
         
        }
      


      }
    }
    .wraper__galery__image__top{
      display: flex;
      flex-direction: row;
      margin-bottom: 10px ;
      &__left{
        max-width: 50%;
        position: relative;
        img{
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }
       &__right{
        position: relative;
        max-width: 50%;
        img{
          width: 100%;
          height: auto;
          object-fit: cover;
          
        }
      }
      
    }
    .wraper__galery__image__buttom{
      display: flex;
      flex-direction: row;
      flex: 1 1 33%;
      .wraper__galery__image__buttom_{
        max-width: 33%;
        
        img{
          width: 100%;
          /* object-fit: scale-down; */
          margin:0px auto;
        }
      }
     
    }

    .wraper__linkGalery{
      display: flex;
      flex-direction: column;
      margin-top: 130px;
      .wraper__linkGalery__leftImage{
        display: flex;
        max-width: 1224px;
        max-height: 354px;
        margin-bottom: 77px;
        .wraper__linkGalery__Image{
          width: 597px;
          
        }
        .wraper__linkGalery__topText{
          padding-left:  108px;
          h2{
            font-family: Lato;
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            line-height: 40px;
            padding-top: 26px;
            padding-bottom: 85px;
            color: #102746;

          }
          p{
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            /* or 150% */


            color: #102746;

          }
        }
      }
      .wraper__linkGalery__rightImage{
        display: flex;
        justify-content: flex-end;
        
        .wraper__linkGalery__bottomText{
          margin-left: 44px;
          h2{
            padding-top: 26px;
            padding-bottom: 45px;
            font-family: Lato;
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            line-height: 40px;
            color: #102746;
            width: 357px;
          }
          p{
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            width: 519px;
            color: #102746;
            padding-right: 97px;
          }
        }
        
      }
    }
    
    .wraper__infoGalery{
      margin-top: 139px;
      h2{
        font-family: Lato;
        font-style: normal;
        font-weight: 500;
        font-size: 35px;
        line-height: 42px;
        color: #102746;
        
        span{
          padding-bottom: 7px;
          border-bottom: 2px solid #006DFE;
        }
        
        
        }
    }
    .wraper__infoGalery__content{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      flex: 0 1 33%;
      .wraper__infoGalery__centralBox{
        /* margin: 0 55px 58px 55px; */
      }
      .wraper__infoGalery__content__item{
        
        margin-top: 58px;
        p{
          width: 391px;
          margin: 45px 0 31px 0;
          font-family: Lato;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
          color: #102746;
        }
        .infoGalery__item__image{
          max-width: 386px;
          position: relative;
            img{
            width: 100%;
          }
        }
        button{
          padding: 12px 19px 11px 19px;
          font-family: Lato;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 19px;
          color: #FFFFFF;
          background: #006DFE;
          border: none;
        }
      }
    }
    .infoGalery__item__image__bottomLine{
      position: absolute;
      justify-content: space-between;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 55px;
      font-family: Lato;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      color: #FFFFFF;
      h2{
        display: inline-block;
        margin-left: 25px;
        padding-top: 16px;
        font-family: Lato;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color: #FFFFFF;
        
      }
      .icons{
        float: right;
        
        
      .comments{
        display: inline-block;
        padding-right: 25px;
        padding-top: 16px;
        
        span{
          margin-right: 9px;
          margin-left: 14px;
        }
        
      
      }
      .likes{
        display: inline-block;
        
        span{

        }
      }
    }
      
    }
.wraper_video{
      position: relative;
      margin-top: 144px;
      img{
         width: 100%;
      }
      .videoIcon{
        position: absolute;
        margin-top: -56px;
        margin-left: -56px;
        top: 50%;
        left: 50%;
        
        
      }
    }
footer{
      background: #0E1D28;
      width: 100%;
      height: 25.69%;
      display: flex;
      .footer__icon{
        width: 50%;
        padding: 119px 24.7% 187px 13.47% ;
        img{
          width: 170px;
          color: white;
        }
      }
      .footer__main{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 50%;
        margin-top: 119px;
        a{
          display: inline-block;
          margin-bottom: 3px;
          font-family: Lato;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
          color: #FFFFFF;
          text-decoration: none;
        }
        span:first-child{
          font-family: Lato;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 24px;
                  }
        .footer__main__socialMedia{
          padding-right: 167px;
        }
      }
    }




    