/* lato-regular - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato-v17-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/lato-v17-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-v17-latin-regular.woff2") format("woff2"), url("../fonts/lato-v17-latin-regular.woff") format("woff"), url("../fonts/lato-v17-latin-regular.ttf") format("truetype"), url("../fonts/lato-v17-latin-regular.svg#Lato") format("svg");
  /* Legacy iOS */
}
/* lato-700 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/lato-v17-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Lato Bold"), local("Lato-Bold"), url("../fonts/lato-v17-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-v17-latin-700.woff2") format("woff2"), url("../fonts/lato-v17-latin-700.woff") format("woff"), url("../fonts/lato-v17-latin-700.ttf") format("truetype"), url("../fonts/lato-v17-latin-700.svg#Lato") format("svg");
  /* Legacy iOS */
}
/* lato-900 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/lato-v17-latin-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/lato-v17-latin-900.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-v17-latin-900.woff2") format("woff2"), url("../fonts/lato-v17-latin-900.woff") format("woff"), url("../fonts/lato-v17-latin-900.ttf") format("truetype"), url("../fonts/lato-v17-latin-900.svg#Lato") format("svg");
  /* Legacy iOS */
}
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/lato-v17-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Lato Bold"), local("Lato-Bold"), url("../fonts/lato-v17-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-v17-latin-700.woff2") format("woff2"), url("../fonts/lato-v17-latin-700.woff") format("woff"), url("../fonts/lato-v17-latin-700.ttf") format("truetype"), url("../fonts/lato-v17-latin-700.svg#Lato") format("svg");
  /* Legacy iOS */
  /*   background-image: url(/img/bglogo.png);

    background-repeat: no-repeat;
    background-size: contain; */
  background: url(/img/bglogo.png) 0 0/100% auto no-repeat;
}

.wraper {
  margin: 0 89px;
}

header {
  margin: 56px 100px 0 102px;
  max-width: 100%;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav__logo {
  width: 82px;
}
.nav ul {
  display: block;
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.nav ul li {
  padding-top: 6px;
  padding-bottom: 1px;
  padding-left: 82px;
}
.nav ul a {
  text-decoration: none;
  color: white;
}
.nav ul a:hover {
  color: #8d8888;
  text-shadow: 0 0 2px grey;
  transition-duration: 1s;
}

.wraper__content {
  margin-top: 176px;
  margin-left: 102px;
  margin-bottom: 54px;
  color: white;
}
.wraper__content h1 {
  font-family: Lato;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 22px;
  width: 619px;
}
.wraper__content p {
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 59px;
  width: 546px;
  height: 72px;
}

.wraper__serch {
  margin-left: 102px;
  margin-bottom: 149px;
}
.wraper__serch form {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.wraper__serch form input {
  padding: 4px 0 25px 44px;
  width: 297px;
  height: 49px;
  background: none;
  color: white;
  border: 0;
  border-bottom: 2px solid #BFC0C5;
}
.wraper__serch form input::-webkit-input-placeholder {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}
.wraper__serch form .wraper__serch__input {
  position: relative;
  padding-right: 60px;
}
.wraper__serch form .wraper__serch__input img {
  position: absolute;
  left: 0;
  top: 0;
}
.wraper__serch form .wraper__serch__button {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: white;
  background: #1B7DFF;
  padding: 15px 39px;
  color: #FFFFFF;
}
.wraper__serch form .wraper__serch__button:hover {
  background: blue;
  color: black;
  transition-duration: 1s;
}

.wraper__info {
  z-index: 1;
  background-color: #fff;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
  margin-bottom: 130px;
}
.wraper__info span {
  display: block;
  padding-left: 99px;
  padding-top: 93px;
  padding-bottom: 120px;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
}
.wraper__info .wraper__info__learnBox {
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
  margin: 0 100px;
}
.wraper__info .wraper__info__learnBox__boxContent {
  color: black;
  display: flex;
  flex-direction: column;
}
.wraper__info .wraper__info__learnBox__boxContent img {
  width: 66px;
  margin-bottom: 37px;
}
.wraper__info .wraper__info__learnBox__boxContent h2 {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 26px;
}
.wraper__info .wraper__info__learnBox__boxContent p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  max-width: 317px;
  margin-bottom: 39px;
}
.wraper__info .wraper__info__learnBox__boxContent .wraper__info__learnBox__boxContent_btm a {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #006DFE;
  display: flex;
  margin-right: 26px;
  text-transform: uppercase;
}
.wraper__info .wraper__info__learnBox__boxContent .wraper__info__learnBox__boxContent_btm a img {
  width: 33px;
  margin-left: 26px;
}

.leftBox {
  margin: 0 55px 112px 100px;
}

.centerBox {
  margin: 0 55px 112px 0;
}

.rightBox {
  margin: 0 100px 112px 0;
}

.wraper__galery {
  /*  width: 87.7%;
   height: 51.04%; */
}
.wraper__galery .wraper__galery__button {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  color: #102746;
  margin-bottom: 26px;
}
.wraper__galery .wraper__galery__button p {
  display: block;
}
.wraper__galery .wraper__galery__button a {
  display: block;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #006DFE;
  text-decoration: none;
}
.wraper__galery .wraper__galery__button a img {
  padding-left: 26px;
}
.wraper__galery .wraper__galery__image {
  display: flex;
  flex-direction: column;
}
.wraper__galery .wraper__galery__image span {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
  color: #FFFFFF;
  position: absolute;
  bottom: 27px;
  left: 29px;
}
.wraper__galery .wraper__galery__image .wraper__galery__image__buttom {
  display: flex;
  flex-direction: row;
}

.wraper__galery__image__top {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.wraper__galery__image__top__left {
  max-width: 48%;
  position: relative;
}
.wraper__galery__image__top__left img {
  width: 100%;
  height: auto;
}
.wraper__galery__image__top__right {
  position: relative;
  max-width: 48%;
}
.wraper__galery__image__top__right img {
  width: 100%;
  height: auto;
}